<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>change password</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label>
            current password: <br/>
            <input type="password" name="current_password">
        </label><br>
        <label>
            new password: <br/>
            <input type="password" name="new_password">
        </label><br>
        <label>
            new password again: <br/>
            <input type="password" name="re_new_password">
        </label><br>
        <input type="submit" name="btn" value="submit">
    </form>

{% if wrong_password_alert %}
        {{ wrong_password_alert }}
    {% endif %}

    {% if not_match_alert %}
        {{ not_match_alert }}
    {% endif %}
</body>
</html>