<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>change password</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label>
            old password: <br/>
            <input type="password" name="pswd">
        </label><br>
        <label>
            new password: <br/>
            <input type="password" name="newpass">
        </label><br>
        <label>
            new password again: <br/>
            <input type="password" name="re_newpass">
        </label><br>
        <input type="submit" name="btn" value="submit">
    </form>

{% if alerrrt %}
        {{ alerrrt }}
    {% endif %}

    {% if alert %}
        {{ alert }}
    {% endif %}
</body>
</html>