<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit information</title>
</head>
<body>
{% if request.user.is_authenticated %}
    <p>Hi {{ request.user.first_name }}</p>
    <form method="post">
    {% csrf_token %}
        <label>
            first name: <br/>
            <input type="text" name="new_firstname" value="{{ user.first_name }}">
        </label><br>
        <label>
            last name: <br/>
            <input type="text" name="new_lastname" value="{{ user.last_name }}">
        </label><br>
        <label>
            email: <br/>
            <input type="email" name="new_email" value="{{ user.email }}">
        </label><br>
        <label>
            username: <br/>
            <input type="text" name="newuser" value="{{ user.username }}">
        </label><br>
        <label>
            phone number: <br/>
            <input type="tel" name="new_phone" value="{{ user.profile_set.first.phone_number }}" maxlength="11" minlength="11" >
        </label><br>
        <label>
            address: <br/>
            <textarea name="new_address">{{ user.profile_set.first.address }}</textarea>
        </label><br>

        <input class="btn btn-primary" type="submit" name="btn" value="Submit">
    </form>

    {% if success %}
        {{ success }}
    {% endif %}

    {% if conflict_alert %}
        {{ conflict_alert|linebreaks }}
    {% endif %}

    <button><a href="{% url 'student:changePassword' %}"> change password</a></button>
{% endif %}
</body>
</html>