<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam</title>
</head>
<body>
    <h2>Your top 10 Answers</h2>
    {% for answer in my_answers %}
    {{ forloop.counter }} - <span style="color: red">{{ answer.grade }}</span> {{ answer.time }} - {{ answer.exam.book }} <br/>
    {% endfor %}
    <h2>Top 10 Answers of Exam</h2>
    {% for answer in other_answers %}
        {{ forloop.counter }} - <span style="color: red">{{ answer.grade }}</span> {{ answer.time }} - {{ answer.exam.book }} - {{ answer.user }} <br/>
    {% endfor %}
    {% for exam in exams %}
        <a href="{% url 'student:examAnswerDetail' exam.id %}"><button>{{ exam.book }}</button></a>
    {% endfor %}


</body>
</html>