<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login student</title>
</head>
<body>

<form action="" method="post">
        {% csrf_token %}
        <label>
            username: <br/>
            <input type="text" name="username">
        </label>
        <br/>
        <label>
            password: <br/>
            <input type="password" name="password">
        </label>
        <br/>
        <input class="btn btn-primary" type="submit" name="btn" value="Login">
    </form>
    {% if alert %}
        <p>
            {{ alert }}
        </p>
    {% endif %}
</body>
</html>