<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>send chat</title>
</head>
<body>
<h4>Send message to someOne!</h4>
<div class="send-message">
    <form method="post" action="">
    {% csrf_token %}
    <textarea placeholder="Put your message here..." name="message_text"></textarea> <br/>
    <p>for Who? </p>
    {% for user in all_user %}
        <input type="checkbox"  name="user{{ user.id }}" value="{{ user.id }}"> {{ user.username }} <br/>
    {% endfor %}

    <input type="submit" value="Send">
    </form>

    <hr style="margin-top: 2%"/>
{#    <h3>History of sent messages </h3>#}
{#    {% for message in all_messages %}#}
{#        <div style="border-style: solid; margin-bottom: 1%">#}
{#            <p>To: {{ message.receiver.first_name }} {{ message.receiver.last_name }}</p> <hr/>#}
{#            <h3>title: {{ message.title }}</h3>#}
{#            <h4>{{ message.text }}</h4>#}
{#        </div>#}
{#    {% endfor %}#}
    <h3>History of Chats</h3>
    {% for chat in all_chats %}
        <a href= {% url 'student:chat' chat.id %}>{{ chat.receiver }}</a> <br/>
    {% endfor %}


</div>
</body>
</html>