certifi==2019.11.28
chardet==3.0.4
Django==2.2.5
django-ckeditor==5.8.0
django-cleanup==4.0.0
django-js-asset==1.2.2
djangorestframework==3.10.3
djangorestframework-simplejwt==4.3.0
idna==2.8
Naked==0.1.31
oauth2-provider==0.0
Pillow==6.2.1
pycryptodome==3.9.4
PyJWT==1.7.1
pytz==2019.2
PyYAML==5.2
requests==2.22.0
shellescape==3.4.1
sorl-thumbnail==12.5.0
sqlparse==0.3.0
urllib3==1.25.7
