<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<form action="{% url 'manager:LogOutView' %}">
    <input type="submit" name="logout_btn" value="log out">
</form>
<hr>
<hr>
<a href="{% url 'manager:UserAnswer' %}">
    Taken Exams
</a>
<br>
<a href="{% url 'manager:UserList' %}">
    Users
</a>
<br>
<a href="{% url 'manager:ExamList' %}">
    Exams
</a>
<br>
<a href="{% url 'manager:Ticket' %}">
    Ticket
</a>
<br>
<a href="{% url 'manager:BookList' %}">
    Book
</a>
<br>
<a href="{% url 'manager:ReadingList' %}">
    Reading
</a>
</body>
</html>