<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reading create</title>
    <script src="//cdn.ckeditor.com/4.13.1/full/ckeditor.js"></script>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>title:
        <input type="text" name="title" required>
    </label>
    <br>
    <br>
    <label>exam:
        <select name="exam">
            {% for exam in all_exam %}
                <option value="{{ exam.id }}">{{ exam }}</option>
            {% endfor %}
        </select>
    </label>
    <br>
    <br>
    <label>image:
        <input type="file" name="image" required>
    </label>
    <br>
    <br>
    <label>priority:
        <input type="number" name="priority" required>
    </label>
    <br>
    <br>
    <label>text:
        <textarea name="text" required></textarea>
        <script>
            CKEDITOR.replace( 'text' );
        </script>
    </label>
    <br>
    <br>
    <input type="submit" value="create" name="reading_btn">
</form>
</body>
</html>