<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'Reading/css/bootstrap.min.css' %}">
    <title>Create Ticket</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
        <div class="dropdown m-4">
        <b>Receiver: </b>
        <button class="btn btn-sm btn-outline-secondary " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User List
        </button>
        <div class="dropdown-menu pl-4" aria-labelledby="dropdownMenuButton">
            {% for user in all_user %}
                <div class="checkbox">
                    <label>
                        <input name="receiver{{ user.id }}" type="checkbox" value="{{ user.id }}">{{user.username}}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <label>title:
            <input type="text" name="title">
        </label>
    </div>
    <div>
        <label>text:
            <input type="text" name="text">
        </label>
    </div>
    <div>
        <label>subject:
            <select name="subject">
                {% for subject in subjects %}
                    <option value="{{ subject.0 }}">{{ subject.1 }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
    <input type="submit" name="message_btn" value="Send">
</form>

<script src="{% static 'Reading/js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'Reading/js/popper.min.js' %}"></script>
<script src="{% static 'Reading/js/bootstrap.min.js' %}"></script>
</body>
</html>