<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message History</title>
</head>
<body>
    {% for message in messages_for_ticket %}
        <p>{{ message.sender }}: {{ message.text }}</p>
    {% endfor %}
    <form action="" method="post">
        {% csrf_token %}
        <label>enter your message:
            <input type="text" name="new_message">
        </label>
        <input type="submit" value="send" name="send_btn">
    </form>
</body>
</html>