<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Detail</title>
</head>
<body>
<div>
    <h3>user information</h3>
    <hr>
    <p>username: {{ current_user.username }}</p>
    <p>email: {{ current_user.email }}</p>
    <p>first name: {{ current_user.first_name }}</p>
    <p>last name: {{ current_user.last_name }}</p>
    <p>phone number: {{ current_profile.phone_number }}</p>
    <p>address: {{ current_profile.address }}</p>
    <p>last login: {{ current_user.last_login }}</p>
    <p>date joined: {{ current_user.date_joined }}</p>
    <hr>
    <h3>exam taken</h3>
    <hr>
    {% for user_answer in user_answers %}
        <p>Exam id : {{ user_answer.exam.id }}</p>
        <p>Answer : {{ user_answer.answer }}</p>
        <p>Grade : {{ user_answer.grade }}</p>
        <p>Date : {{ user_answer.time.date }}</p>
        <p>Time : {{ user_answer.time.time }}</p>
        <hr>
    {% endfor %}
</div>
</body>
</html>