{% extends 'Reading/base.html' %}
{% block title %}
    <title>
        زبان‌آپ | ارزیابی سطح زبان
    </title>
{% endblock %}

{% block body %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'Reading/css/books.css' %}">
    <link rel="stylesheet" href="{% static 'Reading/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'Reading/css/owl.theme.default.min.css' %}">
    <style>
        .md-pills .nav-link.active {
            background-color: #3f51b5;
        }
        @font-face {
            src: url("../../static/Reading/Fonts/Yekan.ttf");
            font-family: Yekan;
        }
        .row{
            font-family: Yekan;
        }

    </style>
    {% include 'Reading/header.html' %}
    <div class="row mt-5" style="font-family: Calibri, Yekan">
        <div class="col-12 col-md-3 mb-4 mb-md-0">
            <div class="border rounded books-sidebar px-4 py-2">
                <div class="search-in-books md-form d-flex" style="font-family: Yekan, Calibri">
                    <label for="search-in-books-input" class="pr-2">
                        <i class="fa fa-search align-middle ml-2"></i>
                        جستجو در نام کتاب ...
                    </label>
                    <input type="text" class="form-control" id="search-in-books-input">
                </div>
                <div class="question-type" style="font-family: Yekan, Calibri">
                    <div class="mb-3 d-flex justify-content-between">
                        <b>نوع سوال:</b>
                        <i class="fa fa-chevron-up align-middle" id="toggle-question-type"
                           style="font-size: 18px; cursor: pointer;"></i>
                    </div>
                    <div id="question-type-choices">

                    </div>

                </div>
                <hr style="margin: 15px -15px">
                <div class="passage-type" style="font-family: Yekan, Calibri">
                    <div class="mb-3 d-flex justify-content-between">
                        <b>نوع متن:</b>
                        <i class="fa fa-chevron-up align-middle" id="toggle-passage-type"
                           style="font-size: 18px; cursor: pointer; margin-top: 2px"></i>
                    </div>
                    <div id="passage-type-choices">

                    </div>
                </div>
                <hr style="margin: 15px -15px">
                <div class="cambridge-books" style="font-family: Yekan, Calibri">
                    <div class="mb-3 d-flex justify-content-between">
                        <b>کتاب های Cambridge:</b>
                        <i class="fa fa-chevron-up align-middle" id="toggle-cambridge-books"
                           style="font-size: 18px; cursor: pointer; margin-top: 2px"></i>
                    </div>
                    <div id="cambridge-book-choices">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9 border rounded py-2 px-3" style="">
            <h2 style="font-family: Yekan">کتاب ها</h2>
            <div id="exam-categories">
                <button class="btn btn-sm btn-rounded active" style="font-size: 12px" onclick="filterSelection('all')"> Show all</button>

            </div>

            <!-- Portfolio Gallery Grid -->
            <div class="row mt-4" id="show-exams-container">

            </div>
        </div>
    </div>
    <div class="d-none book-page-loader justify-content-center align-items-center" style="position: fixed; top: 0; right: 0; left: 0; bottom: 0; z-index: 100; background-color: rgba(0, 0, 0, 0.4)">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
{#    <script src="{% static 'Reading/js/shuffle.js' %}"></script>#}
{#    <script src="{% static 'Reading/js/jquery-3.4.1.min.js' %}"></script>#}
{#    #}

{% endblock %}
{% block JavaScript %}
    <script src="{% static 'Reading/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'Reading/js/books.js' %}"></script>
    <script>

    </script>
{% endblock %}