{% extends 'Reading/base.html' %}
{% block title %}
    <title>ورود به حساب کاربری</title>
{% endblock %}

{% block body %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'Reading/css/login.css' %}">

    <div class="row" id="login-container">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="login-box z-depth-1" style="direction: rtl">
                <div class="d-flex justify-content-center mt-3">
                    <img src="{% static 'Reading/Images/logo.png' %}" alt="زبان آپ" height="50">
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <b style="font-size: 20px; color: red">ورود به حساب کاربری</b>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="md-form login-form">
                        <input type="text" name="username" id="username" class="form-control pr-2">
                        <label  for="username">نام کاربری</label>
                    </div>
                    <div class="md-form login-form mt-5">
                        <input type="password" name="password" id="password" class="form-control pr-2">
                        <label for="password">رمز عبور</label>
                        <a href="#" id="forget-password" style="font-size: 14px; color: #d81b60">فراموشی رمز عبور؟</a>
                        <br>
                        <a href="{% url 'Reading:SignUp' %}" id="forget-password" style="font-size: 14px; color: #d81b60">ایجاد حساب کاربری</a>
                    </div>
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% endif %}
                    <button class="btn text-white d-flex justify-content-center mx-auto btn-rounded w-75 mt-4 waves-effect z-depth-0"
                            type="submit"
                            name="btn"
                            style="font-size: 18px; padding-top: 5px; padding-bottom: 8px; background-color: #ff5252">ورود</button>
                </form>
                {% if alert %}
                    <p>
                        {{ alert }}
                        pls try again
                    </p>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
{% block JavaScript %}
    <script src="{% static 'Reading/js/login.js' %}"></script>
{% endblock %}
{#<!DOCTYPE html>#}
{#{% load static %}#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Login</title>#}
{#    <!-- Bootstrap core CSS -->#}
{#    <link rel="stylesheet" href="{% static 'Reading/css/bootstrap.min.css' %}">#}
{##}
{#</head>#}
{#<body style="background-color: whitesmoke">#}
{#<div style="margin: 4%">#}
{##}
{#<h2 style="text-align: center; margin-bottom: 4%">#}
{#    Welcome to zabanUp#}
{#</h2>#}
{##}
{#<h4 style="text-align: center; margin-bottom: 8%">#}
{#    You want a challenge? <br/>#}
{#    Let's begin!<br/>#}
{#    Login first#}
{#</h4>#}
{#<div style="text-align: center">#}
{#    <form >#}
{#        {% csrf_token %}#}
{#        <label>#}
{#            username: <br/>#}
{#            <input type="text" name="username">#}
{#        </label>#}
{#        <br/>#}
{#        <label>#}
{#            password: <br/>#}
{#            <input type="password" >#}
{#        </label>#}
{#        <br/>#}
{#        {% if request.GET.next %}#}
{#            <input type="hidden" name="next" value="{{ request.GET.next }}">#}
{#        {% endif %}#}
{#        <input class="btn btn-primary" type="submit" name="btn" value="Login">#}
{#    </form>#}
{#    {% if alert %}#}
{#        <p>#}
{#            {{ alert }}#}
{#            pls try again#}
{#        </p>#}
{#    {% endif %}#}
{#</div>#}
{#    <div style="text-align: center; margin-top: 4%">#}
{#        <p>Don't have an account?</p>#}
{#    <a class="btn btn-primary" href="/signup" role="button">signup</a>#}
{#        </div>#}
{#</div>#}
{#</body>#}
{#</html>#}