<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {# linking css files #}

    <link rel="stylesheet" href="{% static 'Reading/Css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Reading/Css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Reading/Css/all.css' %}">
    <title>Reading</title>
</head>
<body>
<header>
{#     header part of the web page #}
    <div id="header">
        <div class="row mb-3 d-none d-lg-flex" id="header-collapse">
{#             The image of the test and name of it, on the top left, when "show test info" has pressed #}
            <div class="col-4 pt-2 pl-5">
                <div class="row">
                    <div class="col-auto mr-0 mt-2">
                        <img src="{% static current_exam.image.url %}" style="width: 78px; height: 78px" alt="IELTS">
                    </div>
                    <div class="col-7">
                        <span style="font-size: 15px">{{ current_exam.book }}</span>
                    </div>
                </div>
            </div>
{#             some information about test. time of publishment, number of views and test taken number #}
            <div class="col-3 pt-3">
                <span class="text-muted" style="font-size: 15px"><i class="fa fa-calendar-alt mr-2" style="margin-left: 2px"></i>Published on: 15 Nov 2018</span>
                <br>
                <span class="text-muted" style="font-size: 15px"><i class="fa fa-signal mr-2" ></i>Difficulty: {{ current_exam.difficulty }}</span>
                <br>
                <span class="text-muted" style="font-size: 15px"><i class="fa fa-th mr-2" style="margin-left: 5px"></i>Category: {{ current_exam.category }}</span>
            </div>
{#             category of test #}
            <div class="col-2 text-center pt-3">
                <i class="fa fa-book-open" style="font-size: 45px; color: #6A5ACD"></i>
                <br>
                <span>Reading Practice Test 1</span>
            </div>
{#             Logo of the site on the top right #}
            <div class="col-3 text-right pr-5 pt-2">
                <img src="{% static 'Reading/Images/logo.svg' %}" style="width: 195px; height: 75px" alt="Logo">
            </div>
        </div>
        <div class="row container-fluid justify-content-between border-top" id="header-inner">
{#             2 images, both of them are logo and big one uses in large screen at right, and small one uses in medium screens at left #}
            <div class="col-1 mr-lg-0" id="header-logo">
                <a href="#">
                    <img src="{% static 'Reading/Images/logo.svg' %}" class="d-lg-none" id="normal-logo" alt="normal-logo">
                    <img src="{% static 'Reading/Images/logo_small.png' %}" class="d-none d-lg-block ml-auto" id="small-logo" alt="small-logo">
                </a>
            </div>
{#             a navbar for menu of the site and show different parts of the site using a list#}
            <nav class="col-auto" id="options" >
                <ul class="list-unstyled">
{#                     an item of the list that shows "Report Mistake" #}
                    <li>
                        <a href="#" class="d-lg-none"><i class="fa fa-exclamation-triangle mr-3"></i>Report Mistake</a>
                        <a href="#" class="d-none d-lg-block mx-3 mt-1" style="font-size: 25px" data-toggle="tooltip" title="Report Mistake"><i class="fa fa-exclamation-triangle mr-2"></i></a>
                    </li>
{#                     an item of the list that shows "Font Size" #}
                    <li>
                        <a href="#" class="d-lg-none"><i class="fa fa-text-height mr-3"></i>Font Size</a>
                        <a href="#" class="d-none d-lg-block mx-3 mt-1" style="font-size: 25px" data-toggle="tooltip" title="Font Size"><i class="fa fa-text-height mr-2"></i></a>
                    </li>
{#                     an item of the list that shows "Download" #}
                    <li>
                        <a href="#" class="d-lg-none"><i class="fa fa-cloud-download-alt mr-3"></i>Download</a>
                        <a href="#" class="d-none d-lg-block mx-3 mt-1" style="font-size: 25px" data-toggle="tooltip" title="Download"><i class="fa fa-cloud-download-alt mr-2"></i></a>
                    </li>
{#                     an item of the list that shows "Instruction" #}
                    <li>
                        <a href="#" class="d-lg-none"><i class="fa fa-question-circle mr-3"></i>Instruction</a>
                        <a href="#" class="d-none d-lg-block mx-3 mt-1" style="font-size: 25px" data-toggle="tooltip" title="Instruction"><i class="fa fa-question-circle mr-2"></i></a>
                    </li>
{#                     an item of the list that shows "Save Drafts" #}
                    <li>
                        <a href="#" class="d-lg-none"><i class="fa fa-save mr-3"></i>Save Drafts</a>
                        <a href="#" class="d-none d-lg-block mx-3 mt-1" style="font-size: 25px" data-toggle="tooltip" title="Save Drafts"><i class="fa fa-save mr-2"></i></a>
                    </li>
{#                     an item of the list that shows "Exit" #}
                    <li>
                        <a href="{% url 'Reading:home' %}" class="d-lg-none"><i class="fa fa-sign-in-alt mr-3"></i>Exit</a>
                        <a href="{% url 'Reading:home' %}" class="d-none d-lg-block mx-3 mt-1" style="font-size: 25px" data-toggle="tooltip" title="Exit"><i class="fa fa-sign-in-alt mr-2"></i></a>
                    </li>
                </ul>
            </nav>
{#             toggler icon for menu in medium and small screens #}
            <div class="col-auto ml-auto" id="toggler" >
                 <i class="fa fa-bars" id="toggler-icon"></i>
            </div>
{#             a button for showing test informations #}
            <div id="test-info" class="col-auto">
                <button type="button" class="btn btn-outline-secondary btn-sm d-none d-lg-block" id="test-info-btn">
                    <i class="fa fa-arrow-down mr-1" id="test-info-icon"></i> Show Test Info
                </button>
            </div>
        </div>
    </div>
</header>












<main>
    <form action="{% url 'Reading:submit' current_exam.id %}" method="post">
        {% csrf_token %}
        {% for passage, questions_types in passage_question_type %}
    {# main part of the web page that contains tow horizontal parts#}
        <div class="leftAndRight d-flex" id="passage-number-{{ forloop.counter }}">
            {# left part of main, contains the reading text #}
            <div class="leftContent">
                <div class="container-fluid left-inner">
                    {# Reading title #}
                    <div class="row mt-5 mb-3">
                        <h1 class="testTitle">
                            <p>{{ passage }}</p>
                            <p>{{ questions_types }}</p>
                            READING PASSAGE {{ forloop.counter }}
                        </h1>
                    </div>
                    {# Reading description #}
                    <div class="row mb-4">
                        <p class="testDescription">
{#                            <i>You should spend about 20 minutes on <strong>Questions 1-{{ dropdown_passage1|add:textbox_passage1|add:radiobutton_passage1|add:checkbox_passage1|length }}</strong>,#}
{#                                which are based on Reading Passage {{ forloop.counter }} below.#}
{#                            </i>#}
                        </p>
                    </div>
                    {# Reading image #}
                    <div class="row mb-4 justify-content-center">
                        <img src="{% static passage.image.url %}"
                             style="width: 500px; height: 521px" alt="MainPic" id="passage{{ passage.id }}-image">
                    </div>
                    {# Passage title #}
                    <div class="row justify-content-center mb-3">
                        <h3>
                            {{ passage.title }}
                        </h3>
                    </div>
                    <div class="row mb-5">
                        <p>
                            {{ template|linebreaks }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="rightContent">
                <div class="container-fluid right-inner">
                    <h6 class="section mt-4 mb-4">
{#                        SECTION 1: QUESTIONS 1-{{ dropdown_passage1|add:textbox_passage1|add:radiobutton_passage1|add:checkbox_passage1|length }}#}
                    </h6>
                            <p>hey {{ questions_types.truefalse.1.1 }}
                            </p>
                            <div class="row">
                            <div class="col-auto mr-auto align-middle">
{#                                <h5 class="mb-4">#}
{#                                    Questions 1-{{ dropdown_passage1|length }}#}
{#                                </h5>#}
                            </div>
                            {# notepad to save drafts #}
                            <div class="col-auto">
                                <p>
                                    <button type="button" class="btn btn-light btn-sm border align-middle"
                                            data-toggle="collapse" data-target="#notepad1"
                                            aria-expanded="false" aria-controls="notepad">
                                        Show Notepad
                                    </button>
                                </p>
                            </div>
                            <div class="col-12">
                                <div class="collapse" id="notepad1">
                                    <label class="w-100">
                                        <textarea class="input-group pl-2" placeholder="Your draft goes here..."></textarea>
                                    </label>
                                </div>
                            </div>
                        </div>
                        {# Some descriptions about true flase questions #}
                        <p><i>Do the following statements agree with the information given in Reading Passage 1?</i></p>
{#                        <p class="mb-4"><i>In <b>boxes 1-{{ dropdown_passage1|length }}</b> on your answer sheet, write</i></p>#}
                        <table class="table border table-sm table-striped mb-4">
                            <tbody>
                                <tr>
                                    <th class="pl-3">TRUE</th>
                                    <td>if the statement is true</td>
                                </tr>
                                <tr>
                                    <th class="pl-3">FALSE</th>
                                    <td>if the statement is false</td>
                                </tr>
                                <tr>
                                    <th class="pl-3">NOT GIVEN</th>
                                    <td>if the information is not given in the passage</td>
                                </tr>
                            </tbody>
                        </table>
                        {# Dropdown questions starts #}
                        {% for dd in questions.1 %}
                            <div class="row container-fluid border questionsRow ml-0 mb-2 align-items-center">
                                <div class="col-1 mt-2 mt-md-0">
                                    <div class="row">
                                        <div class="col-auto questionNumber rounded m-auto">
                                            <strong class="text-white q-num">{{ forloop.counter }}</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 col-md-auto mr-3 mt-2 mt-md-0">
                                    <label for="q{{ forloop.counter }}">
                                        <select class="border btn-sm" name="q{{ forloop.counter }}" id="q{{ forloop.counter }}">
                                            <option disabled selected></option>
                                            {% for answer in dd.1.answer_set.all %}
                                                <option name="answer[{{ question }}]" id="answer{{ answer.id }}" value="{{ answer.id }}">{{ answer.text }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                                <div class="col-12 col-md-8 my-2 my-md-0">
                                    <p class="my-0">
                                        {{ dd.1 }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                        {# Dropdown questions ends #}

                        <div class="row mt-4">
                            <div class="col-auto mr-auto align-middle">
{#                                <h5 class="mb-4">#}
{#                                    Questions {{ dropdown_passage1|length|add:1 }}-{{ dropdown_passage1|add:textbox_passage1|length }}#}
{#                                </h5>#}
                            </div>
                            {# notepad to save drafts #}
                            <div class="col-auto">
                                <p>
                                    <button type="button" class="btn btn-light btn-sm border align-middle"
                                            data-toggle="collapse" data-target="#notepad2"
                                            aria-expanded="false" aria-controls="notepad">
                                        Show Notepad
                                    </button>
                                </p>
                            </div>
                            <div class="col-12">
                                <div class="collapse align-text-top" id="notepad2">
                                    <label class="w-100 d-flex">
                                        <textarea class="input-group pl-2 align-text-top" placeholder="Your draft goes here..."></textarea>
                                    </label>
                                </div>
                            </div>
                        </div>
                        {# some descriptions about textbox questions #}
                        <p><i>Answer the questions below.</i></p>
                        <p><i>Choose <span class="text-danger">NO MORE THAN THREE WORDS</span> from the passage for each answer:</i></p>
{#                        <p class="pb-2"><i>Write your answers in <b>boxes {{ dropdown_passage1|length|add:1 }}-{{ dropdown_passage1|add:textbox_passage1|length }}</b> on your answer sheet.</i></p>#}

                        {# Textbox questions starts #}
                        {% for tb in questions.2 %}
                            <div class="row container border textboxQuestionRow ml-0 mb-2 align-items-center">
                                <div class="col-12">
                                    <p class="my-0">
                                       {{ tb.1 }}
                                    </p>
                                </div>
                                <div class="col-1 ml-2">
                                    <div class="row">
                                        <div class="col-auto questionNumber rounded m-auto">
                                        <strong class="text-white">{{ dropdown_passage1|length|add:forloop.counter}}</strong>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-auto mr-3"  id="q{{ dropdown_passage1|length|add:forloop.counter}}">
                                    <label>
                                        <input type="text" placeholder="Your answer" name="hidden{{ forloop.counter }}" hidden value="{{ tb.id }}">
                                    </label>
                                    <input type="text" class="textboxAnswer" name="q{{ dropdown_passage1|length|add:forloop.counter}}" id="answer{{ answer.id }}" value="{{ answer.id }}" placeholder="Your answer">
                                </div>
                            </div>
                        {% endfor %}
                        {# Textbox questions ends #}

                        {% if radiobutton_passage1 %}
                        <div class="row mt-4">
                            <div class="col-auto mr-auto align-middle">
                                <h5 class="mb-4">
                                    Questions {{ dropdown_passage1|add:textbox_passage1|length|add:1 }}-{{ dropdown_passage1|add:textbox_passage1|add:radiobutton_passage1|length }}
                                </h5>
                            </div>
                            {# notepad to save drafts #}
                            <div class="col-auto">
                                <p>
                                    <button type="button" class="btn btn-light btn-sm border align-middle"
                                            data-toggle="collapse" data-target="#notepad3"
                                            aria-expanded="false" aria-controls="notepad3">
                                        Show Notepad
                                    </button>
                                </p>
                            </div>
                            <div class="col-12">
                                <div class="collapse align-text-top" id="notepad3">
                                    <label class="w-100 d-flex">
                                        <textarea class="input-group pl-2 align-text-top" placeholder="Your draft goes here..."></textarea>
                                    </label>
                                </div>
                            </div>
                        </div>
                        {# some descriptions about ridaobutton questions #}
                        <p><i>Choose the correct letter, <b>A</b>, <b>B</b>, <b>C</b> or <b>D</b>.</i></p>
                        <p class="mb-5"><i>Write the correct letter in boxes <b>{{ dropdown_passage1|add:textbox_passage1|length|add:1 }}-{{ dropdown_passage1|add:textbox_passage1|add:radiobutton_passage1|length }}</b> on your answer sheet.</i></p>

                        {# Radiobutton question starts #}
                        {% for rb in radiobutton_passage1 %}
                            <div class="row container border checkboxQuestion ml-0 align-items-center mb-2"  id="q{{ dropdown_passage1|add:textbox_passage1|length|add:forloop.counter }}">
                                <div class="col-1 ml-2 mt-1">
                                    <div class="row">
                                        <div class="col-auto questionNumber rounded m-auto">
                                            <strong class="text-white q-num">{{ dropdown_passage1|add:textbox_passage1|length|add:forloop.counter }}</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-10 mt-1">
                                    <p class="my-0">
                                        {{ rb }}
                                    </p>
                                </div>
                                <div class="col-12">
                                    <div class="form-check my-1">
                                        {% for answer in rb.answer_set.all %}
                                            <span class="checkboxAnsIcon ">{{ forloop.counter }}</span>
                                            <input class="form-check-input " type="radio" name="q{{ dropdown_passage1|add:textbox_passage1|length|add:forloop.parentloop.counter }}" id="answer{{ answer.id }}" value="{{ answer.id }}" />
                                            <label class="form-check-label " for="answer{{ answer.id }}">{{ answer.text }}</label><br/>
                                        {% endfor %} <br>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% endif %}
                        {# Radiobutton questions ends #}

                        {% if checkbox_passage1 %}
                        <div class="row mt-4">
                            <div class="col-auto mr-auto align-middle">
                                <h5 class="mb-4">
                                    Questions {{ dropdown_passage1|add:textbox_passage1|add:radiobutton_passage1|add:checkbox_passage1|length  }}
                                </h5>
                            </div>
                            {# notepad to save drafts #}
                            <div class="col-auto">
                                <p>
                                    <button type="button" class="btn btn-light btn-sm border align-middle"
                                            data-toggle="collapse" data-target="#notepad4"
                                            aria-expanded="false" aria-controls="notepad4">
                                        Show Notepad
                                    </button>
                                </p>
                            </div>
                            <div class="col-12">
                                <div class="collapse align-text-top" id="notepad4">
                                    <label class="w-100 d-flex">
                                        <textarea class="pl-2 align-text-top w-100" placeholder="Your draft goes here..."></textarea>
                                    </label>
                                </div>
                            </div>
                        </div>
                        {# some descriptions about checkbox #}
                        <p><i>Check the items that are true in your idea.</i></p>
                        <p><i>Check the correct items in boxes <b>{{ dropdown_passage1|add:textbox_passage1|add:radiobutton_passage1|add:checkbox_passage1|length  }}</b> on your answer sheet.</i></p>

                        {# Checkbox questions starts #}
                        {% for cb in checkbox_passage1 %}
                            <div class="row container border checkboxQuestion ml-0 align-items-center mb-2">
                                <div class="col-1 ml-2 mt-1">
                                    <div class="row">
                                        <div class="col-auto questionNumber rounded m-auto">
                                            <strong class="text-white q-num">{{ dropdown_passage1|add:textbox_passage1|add:radiobutton_passage1|add:checkbox_passage1|length }}</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-10 mt-1">
                                    <p class="my-0">{{ cb }}</p>
                                </div>
                                <div class="col-12">
                                    <div class="form-check my-1">
                                        {% for answer in cb.answer_set.all %}
                                            <span class="checkboxAnsIcon">{{ forloop.counter }}</span>
                                            <label id="q{{ dropdown_passage1|add:textbox_passage1|add:radiobutton_passage1|add:checkbox_passage1|length  }}">
                                                <input type="text" name="q{{ dropdown_passage1|add:textbox_passage1|add:radiobutton_passage1|length|add:forloop.parentloop.counter }}_id" value="{{ cb.id }}" hidden>
                                            </label>
                                            <input class="form-check-input " type="checkbox" name="q{{ dropdown_passage1|add:textbox_passage1|add:radiobutton_passage1|length|add:forloop.parentloop.counter }}" id="answer{{ answer.id }}" value="{{ answer.id }}" />
                                            <label class="form-check-label " for="answer{{ answer.id }}">{{ answer.text }}</label><br/>
                                         {% endfor %}<br>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% endif %}
                        {# Checkbox questions ends #}
                        <input type="hidden" name="refresh_checker" value="{{ refresh_checker }}">
                        <input class="btn btn-danger btn-sm mx-2 navbarButton d-none" style="color: rgb(40, 70, 100)" type="submit" value="Submit" name="Submit" id="submit-fake-button"/>
                </div>
                {# a navbar to show section and next button #}
                <div id="section">
                    <div class="row container-fluid justify-content-between">
                        <div class="col-3"></div>
                        <div class="col-3 align-self-center ml-2 text-center" style="height: fit-content">
                            <span class="p-1" style="font-style: italic; font-size: 20px;">Section 1</span>
                        </div>
                        <div class="col-3 align-self-center text-right" style="height: fit-content">
                            <a href="#" class="btn btn-outline-dark btn-sm" style="width: 100px" id="next-section-1">
                                Next
                                <i class="fa fa-arrow-right ml-1 align-middle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </form>
</main>





















<footer>
    {# Footer part of the page #}
    <div class="container-fluid">
        <div class="row container-fluid justify-content-between d-lg-flex" id="footer">
            <div class="col-auto col-lg-3 col-xl-5" id="question-palette">
                <a class="align-items-center"><h5><i class="fa fa-ellipsis-h mr-2"></i>Question Palette</h5></a>
            </div>
            {# Time of the test #}
            <div class="col-auto col-lg-2 text-center" id="timer">
                <span class="text-white"><i class="fa fa-clock mr-2"></i>60:00</span>
            </div>
            {# Submit, Review and Solution buttons #}
            <div class="col-lg-5 col-xl-4 text-right" id="footer-buttons">
                <a class="btn btn-light btn-sm mx-2 text-center" id="submit-button">
                    <span class="fa fa-paper-plane mr-1"></span> Submit
                </a>
                <a class="btn btn-light btn-sm mx-2 text-center" id="review-button">
                    <span class="fa fa-map mr-1"></span> Review
                </a>
                <a class="btn btn-light btn-sm mx-2 text-center" id="solution-button">
                    <span class="fa fa-puzzle-piece mr-1"></span> Solution
                </a>
            </div>
            <div class="col-auto text-center" id="arrow">
                <i class="fa fa-arrow-down ml-2" id="arrow-self"></i>
            </div>
            {# answersheet of questions #}
            <div class="col-12 d-none d-lg-flex border-top" id="footer-collapse">
                <div class="row text-white" style="width: 102%">
                    <div class="col-auto pt-2">
                        <div class="mb-2"><span><i class="fa fa-circle mr-2"></i>Answered</span></div>
                        <div><span><i class="fa fa-circle-notch mr-2"></i>Unanswered</span></div>
                    </div>
                    {# questions icons to see answered and unanswered questions #}
                    <div class="col-10 mx-auto text-center d-flex" id="answer-sheet">
                        {% for qNumber in passage.question_set.all %}
                            <div class="row">
                                <div class="col-auto questionNumber rounded m-auto">
                                    <a href="#q{{ forloop.counter }}" class="text-white q-num" style="font-family: ErasBold,serif">{{ forloop.counter }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {# answersheet for questions in medium and small screens #}
            <div class="col-12 d-flex d-lg-none border-top" id="footer-collapse-small">
                <div class="row mx-auto">
                    <div class="col-12 mx-auto text-center d-flex" id="answer-sheet-small">
                        {% for qNumber in passage.question_set.all %}
                            <div class="row">
                                <div class="col-auto questionNumber rounded m-auto">
                                    <a href="#q{{ forloop.counter }}" style="font-family: ErasBold;" class="text-white q-num">{{ forloop.counter }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-12 d-flex" id="footer-buttons-small">
                        <a class="btn btn-light btn-sm mx-2 text-center" id="small-submit-button">
                            <span class="fa fa-paper-plane mr-1"></span> Submit
                        </a>
                        <a class="btn btn-light btn-sm mx-2 text-center" id="footer-button">
                            <span class="fa fa-map mr-1"></span> Review
                        </a>
                        <a class="btn btn-light btn-sm mx-2 text-center">
                            <span class="fa fa-puzzle-piece mr-1"></span> Solution
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{# importing javascript files to project #}
<script src="{% static 'Reading/JavaScript/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'Reading/JavaScript/popper.min.js' %}"></script>
<script src="{% static 'Reading/JavaScript/bootstrap.min.js' %}"></script>
<script src="{% static 'Reading/JavaScript/scripts.js' %}"></script>
<script src="{%  static 'Reading/JavaScript/all.js' %}"></script>







</body>
</html>