{% extends 'Reading/base.html' %}
{% block title %}
    <title>ایجاد حساب کاربری</title>
{% endblock %}

{% block body %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'Reading/Css/signup.css' %}">
    <div class="row" id="login-container">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="login-box z-depth-2" style="direction: rtl">
                <div class="d-flex justify-content-center mt-3">
                    <img src="{% static 'Reading/Images/logo.png' %}" alt="زبان آپ" height="50">
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <b style="font-size: 20px; color: red">ایجاد حساب کاربری</b>
                </div>
                <form class="form-row" method="post">
                    {% csrf_token %}
                    <div class="col-12 col-md-6 d-flex justify-content-center">
                        <div class="md-form login-form" style="width: 90%">
                            <input type="text" name="first_name" id="first-name" class="form-control">
                            <label for="first-name">نام</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 d-flex justify-content-center">
                        <div class="md-form login-form" style="width: 90%">
                            <input type="text" name="last_name" id="last-name" class="form-control">
                            <label for="last-name">نام خانوادگی</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 d-flex justify-content-center">
                        <div class="md-form login-form" style="width: 90%">
                            <input type="text" name="username" id="username" class="form-control">
                            <label for="username">نام کاربری</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 d-flex justify-content-center">
                        <div class="md-form login-form" style="width: 90%">
                            <input type="number" maxlength="11" minlength="11" name="phone_number" id="phone-number" class="form-control">
                            <label for="phone-number">شماره تفلن همراه</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 d-flex justify-content-center">
                        <div class="md-form login-form" style="width: 90%">
                            <input type="password" name="password" id="password" class="form-control">
                            <label for="password">رمز عبور</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 d-flex justify-content-center">
                        <div class="md-form login-form" style="width: 90%">
                            <input type="password" name="re_password" id="re-password" class="form-control">
                            <label for="re-password">رمز عبور دوباره</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 d-flex justify-content-center">
                        <div class="md-form login-form" style="width: 90%">
                            <input type="email" name="email" id="email" class="form-control">
                            <label for="email">ایمیل</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 pr-md-3 mt-md-4">
                        <span>جنسیت:</span>
                        <br>
                        {% for gender in genders %}
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="{{gender.0}}" name="gender" value="{{ gender.0 }}">
                                <label class="form-check-label" for="{{gender.0}}">{{gender.1}}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-12">
                        <button class="btn text-white d-flex justify-content-center mx-auto btn-rounded w-50 mt-4 waves-effect z-depth-0"
                                type="submit"
                                name="btn"
                                style="font-size: 18px; padding-top: 5px; padding-bottom: 8px; background-color: #ff5252">ثبت نام</button>
                    </div>
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% endif %}
                </form>
                 {% if alert %}
                    <p>
                        {{ alert }}
                        pls try again
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block JavaScript %}
    <script src="{% static 'Reading/js/signup.js' %}"></script>
{% endblock %}
{#<!DOCTYPE html>#}
{#{% load static %}#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Sign Up</title>#}
{#    <link rel="stylesheet" href="{% static 'Reading/Css/bootstrap.min.css' %}">#}
{#</head>#}
{#<body style="background-color: whitesmoke; margin: 4%">#}
{#    <h3 style="text-align: center; margin-bottom: 5%">#}
{#        Let's improve yourself!#}
{#    </h3>#}
{#    <div style="text-align: center">#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        <label>#}
{#            first name: <br/>#}
{#            <input type="text" name="first_name">#}
{#        </label><br>#}
{#        <label>#}
{#            last name: <br/>#}
{#            <input type="text" name="last_name">#}
{#        </label><br>#}
{#        <label>#}
{#            email: <br/>#}
{#            <input type="email" name="email">#}
{#        </label><br>#}
{#        <label>#}
{#            username: <br/>#}
{#            <input type="text" name="username">#}
{#        </label><br>#}
{#        <label>#}
{#            phone number: <br/>#}
{#            <input type="tel" name="phone_number" maxlength="11" minlength="11">#}
{#        </label><br>#}
{#        <label>#}
{#            password: <br/>#}
{#            <input type="password" name="password">#}
{#        </label><br>#}
{#        <label>#}
{#            password again: <br/>#}
{#            <input type="password" name="re_password">#}
{#        </label><br>#}
{#        <label>#}
{#            address: <br/>#}
{#            <textarea name="address"></textarea>#}
{#        </label><br>#}
{#        {% if request.GET.next %}#}
{#            <input type="hidden" name="next" value="{{ request.GET.next }}">#}
{#        {% endif %}#}
{#        <input class="btn btn-primary" type="submit" name="btn" value="Sign Up">#}
{#    </form>#}
{#    {% if alert %}#}
{#        <p>#}
{#            {{ alert }}#}
{#            pls try again#}
{#        </p>#}
{#    {% endif %}#}
{#    </div>#}
{#<div style="text-align: center; margin-top: 4%">#}
{#    <p>Have an account?</p>#}
{#        <a class="btn btn-primary" href="/login" role="button">login</a>#}
{#</div>#}
{##}
{#</body>#}
{#</html>#}