<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'Css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Styles.css' %}">
    <title>Test</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top border-bottom">
            <div class="container-fluid headerContainer">
                <a class="navbar-brand order-lg-2" href="#">
                    <img src="{% static 'Images/logo.svg' %}" class="d-lg-none" width="91" height="35">
                    <img src="{% static 'Images/logo_small.png' %}" class="d-none d-lg-block">
                </a>
                <a class="btn btn-outline-info btn-sm d-none d-lg-block showTestInfo">
                    Show Test Info
                </a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#headerNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse bg-white" id="headerNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item ml-4">
                            <a href="#" class="nav-link mt-3 mt-md-0 mr-lg-2">
                                <img src="{% static 'Images/report_mistake.svg' %}" width="32" height="32"
                                     data-toggle="tooltip" data-placement="bottom" title="Report Mistake">
                                <span class="d-lg-none ml-2 align-middle">Report Mistake</span>
                            </a>
                        </li>
                        <li class="nav-item ml-4">
                            <a href="#" class="nav-link mx-lg-2">
                                <img src="{% static 'Images/font_size.svg' %}" width="32" height="32"
                                    data-toggle="tooltip" data-placement="bottom" title="Text Size">
                                <span class="d-lg-none ml-2 align-middle">Text Size</span>
                            </a>
                        </li>
                        <li class="nav-item ml-4">
                            <a href="#" class="nav-link mx-lg-2">
                                <img src="{% static 'Images/download.svg' %}" width="32" height="32"
                                    data-toggle="tooltip" data-placement="bottom" title="Print/Download">
                                <span class="d-lg-none ml-2 align-middle">Download</span>
                            </a>
                        </li>
                        <li class="nav-item ml-4">
                            <a href="#" class="nav-link mx-lg-2">
                                <img src="{% static 'Images/instruction.svg' %}" width="32" height="32"
                                    data-toggle="tooltip" data-placement="bottom" title="Instructions">
                                <span class="d-lg-none ml-2 align-middle">Instructions</span>
                            </a>
                        </li>
                        <li class="nav-item ml-4">
                            <a href="#" class="nav-link mx-lg-2">
                                <img src="{% static 'Images/save.svg' %}" width="32" height="32"
                                    data-toggle="tooltip" data-placement="bottom" title="Save Drafts">
                                <span class="d-lg-none ml-2 align-middle">Save Drafts</span>
                            </a>
                        </li>
                        <li class="nav-item ml-4">
                            <a href="#" class="nav-link ml-lg-2">
                                <img src="{% static 'Images/exit.svg' %}" width="32" height="32"
                                    data-toggle="tooltip" data-placement="bottom" title="Exit Test">
                                <span class="d-lg-none ml-2 align-middle">Exit Test</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="leftAndRight">
            <div class="leftContent">
                <div class="container">
                    <div class="row mt-5 mb-3">
                        <h1 class="testTitle">
                                READING PASSAGE 1
                            </h1>
                    </div>
                    <div class="row mb-4">
                        <p class="testDescription">
                                <i>You should spend about 20 minutes on <strong>Questions 1-{{ dropdown|add:textbox|add:radiobutton|add:checkbox|length }}</strong>,
                                    which are based on Reading Passage 1 below.</i>
                            </p>
                    </div>
                    <div class="row mb-4 justify-content-center">
                        <img src="{% static 'Images/The_Concept_of_Childhood_in_Western_Countries.jpg' %}"
                             width="500" height="521">
                    </div>
                    <div class="row justify-content-center mb-3">
                        <h3>
                            {{ passage.title }}
                        </h3>
                    </div>
                    <div class="row mb-5">
                        <p class="text-justify">
                            {{ passage.text }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="rightContent">
                <div class="container">
                    <h6 class="section mt-4 mb-4">
                        SECTION 1: QUESTIONS 1-{{ dropdown|add:textbox|add:radiobutton|add:checkbox|length }}
                    </h6>
                    <form action="{% url 'Reading:submit' passage.id %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-auto mr-auto align-middle">
                                <h5 class="mb-4">
                                    Questions 1-{{ dropdown|length }}
                                </h5>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-light btn-sm border align-middle">Show Notepad</button>
                            </div>
                        </div>
                        <p><i>Do the following statements agree with the information given in Reading Passage 1?</i></p>
                        <p class="mb-4"><i>In <b>boxes 1-{{ dropdown|length }}</b> on your answer sheet, write</i></p>
                        <table class="table border table-sm table-striped mb-4">
                            <tbody>
                                <tr>
                                    <th class="pl-3">TRUE</th>
                                    <td>if the statement is true</td>
                                </tr>
                                <tr>
                                    <th class="pl-3">FALSE</th>
                                    <td>if the statement is false</td>
                                </tr>
                                <tr>
                                    <th class="pl-3">NOT GIVEN</th>
                                    <td>if the information is not given in the passage</td>
                                </tr>
                            </tbody>
                        </table>
                        {# dropdown questions start #}
                        {% for dd in dropdown %}
                            <div class="row container border questionsRow ml-0 mb-2 align-items-center">
                                <div class="col-1">
                                    <div class="row">
                                        <div class="col-auto questionNumber rounded m-auto">
                                        <strong class="text-white">{{ forloop.counter }}</strong>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-auto mr-3">
                                    <select class="border btn-sm" name="q{{ forloop.counter }}">
                                        <option disabled selected></option>
                                        {% for answer in dd.answer_set.all %}
                                            <option name="answer[{{ question }}]" id="answer{{ answer.id }}" value="{{ answer.id }}">{{ answer.text }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-8">
                                    <p class="my-0">
                                        {{ dd }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                        {# dropdown questions end #}
                        <div class="row mt-4">
                            <div class="col-auto mr-auto align-middle">
                                <h5 class="mb-4">
                                    Questions {{ dropdown|length|add:1 }}-{{ dropdown|add:textbox|length }}
                                </h5>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-light btn-sm border align-middle">Show Notepad</button>
                            </div>
                        </div>
                        <p><i>Answer the questions below.</i></p>
                        <p><i>Choose <span class="text-danger">NO MORE THAN THREE WORDS</span> from the passage for each answer:</i></p>
                        <p class="pb-2"><i>Write your answers in <b>boxes {{ dropdown|length|add:1 }}-{{ dropdown|add:textbox|length }}</b> on your answer sheet.</i></p>

                        {# textbox question start #}
                        {% for tb in textbox %}
                            <div class="row container border textboxQuestionRow ml-0 mb-2 align-items-center">
                                <div class="col-12">
                                    <p class="my-0">
                                       {{ tb }}
                                    </p>
                                </div>
                                <div class="col-1 ml-2">
                                    <div class="row">
                                        <div class="col-auto questionNumber rounded m-auto">
                                        <strong class="text-white">{{ dropdown|length|add:forloop.counter}}</strong>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-auto mr-3">
                                    <input type="text" placeholder="Your answer" name="hidden{{ forloop.counter }}" hidden value="{{ tb.id }}">
                                    <input type="text" class="textboxAnswer" name="q{{ dropdown|length|add:forloop.counter}}" id="answer{{ answer.id }}" value="{{ answer.id }}" placeholder="Your answer">
                                </div>
                            </div>
                        {% endfor %}
                        {# textbox question end #}

                        <div class="row mt-4">
                            <div class="col-auto mr-auto align-middle">
                                <h5 class="mb-4">
                                    Questions {{ dropdown|add:textbox|length|add:1 }}-{{ dropdown|add:textbox|add:radiobutton|length }}
                                </h5>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-light btn-sm border align-middle">Show Notepad</button>
                            </div>
                        </div>
                        <p><i>Choose the correct letter, <b>A</b>, <b>B</b>, <b>C</b> or <b>D</b>.</i></p>
                        <p class="mb-5"><i>Write the correct letter in <b> boxes {{ dropdown|add:textbox|length|add:1 }}-{{ dropdown|add:textbox|add:radiobutton|length }}</b> on your answer sheet.</i></p>
                        {# radiobutton question start #}
                        {% for rb in radiobutton %}
                            <div class="row container border checkboxQuestion ml-0 align-items-center mb-2">
                                <div class="col-1 ml-2 mt-1">
                                    <div class="row">
                                        <div class="col-auto questionNumber rounded m-auto">
                                        <strong class="text-white">{{ dropdown|add:textbox|length|add:forloop.counter }}</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-10 mt-1">
                                    <p class="my-0">{{ rb }}</p>
                                </div>
                                <div class="col-12">
                                    <div class="form-check custom-radio my-1">
                                        {% for answer in rb.answer_set.all %}
                                            <span class="checkboxAnsIcon">{{ forloop.counter }}</span>
                                            <input class="form-check-input custom-control-input" type="radio" name="q{{ dropdown|add:textbox|length|add:forloop.parentloop.counter }}" id="answer{{ answer.id }}" value="{{ answer.id }}" />
                                            <label class="form-check-label custom-control-label" for="answer{{ answer.id }}">{{ answer.text }}</label><br/>
                                        {% endfor %} <br>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {# radiobutton question start #}

                        <div class="row mt-4">
                            <div class="col-auto mr-auto align-middle">

                                <h5 class="mb-4">
                                    Questions {{ dropdown|add:textbox|add:radiobutton|add:checkbox|length  }}
                                </h5>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-light btn-sm border align-middle">Show Notepad</button>
                            </div>
                        </div>
                        <p><i>Check the items that are true in your idea.</i></p>
                        <p><i>Check the correct items in <b> boxes {{ dropdown|add:textbox|add:radiobutton|add:checkbox|length }}</b> on your answer sheet.</i></p>
                        {# checkbox question start #}
                        {% for cb in checkbox %}
                            <div class="row container border checkboxQuestion ml-0 align-items-center mb-2">
                            <div class="col-1 ml-2 mt-1">
                                <div class="row">
                                    <div class="col-auto questionNumber rounded m-auto">
                                    <strong class="text-white">{{ dropdown|add:textbox|add:radiobutton|length|add:forloop.counter }}</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10 mt-1">
                                <p class="my-0">{{ cb }}</p>
                            </div>
                            <div class="col-12">
                                <div class="form-check custom-checkbox my-1">
                                    {% for answer in cb.answer_set.all %}
                                        <span class="checkboxAnsIcon">{{ forloop.counter }}</span>
                                        <input type="text" name="q{{ dropdown|add:textbox|add:radiobutton|length|add:forloop.parentloop.counter }}_id" value="{{ cb.id }}" hidden>
                                        <input class="form-check-input custom-control-input" type="checkbox" name="q{{ dropdown|add:textbox|add:radiobutton|length|add:forloop.parentloop.counter }}" id="answer{{ answer.id }}" value="{{ answer.id }}" />
                                        <label class="form-check-label custom-control-label" for="answer{{ answer.id }}">{{ answer.text }}</label><br />
                                     {% endfor %}<br>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {# checkbox question end #}
                        <input class="btn btn-light btn-sm mx-2 navbarButton" style="color: rgb(40, 70, 100)" type="submit" value="Submit" />



      </form>

  </div>
</div>
        </div>
    </main>

    <script src="{% static 'JavaScript/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'JavaScript/popper.min.js' %}"></script>
    <script src="{% static 'JavaScript/bootstrap.min.js' %}"></script>
</body>
</html>


