<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Answer</title>
</head>
<body>
<h4>Dear {{ request.user.first_name }}</h4>
<h4>Your Answers to the Passage {{ passage.id }} are:</h4>
{% for question in passage.question_set.all %}
    {% if question.id in correct_answers %}
        <p>{{ forloop.counter }}- correct</p>
    {% else %}
        <p>{{ forloop.counter }}- wrong</p>
    {% endif %}
{% endfor %}
<p>your grade is: {{ grade }}</p>

<h3>Compare with yourself</h3>
{% for grades in users_answer %}
    {% if grades.user == request.user %}
        {% if grades.time == last_user_answer.time %}
            <p style="color: red">{{ grades.user }} :{{ grades.grade }} - {{ grades.time }}</p>
        {% else %}
            <p>{{ grades.user }} {{ grades.grade }} - {{ grades.time }}</p>
        {% endif %}
    {% endif %}
{% endfor %}


<h3>Compare with Others</h3>
{% for grades in users_answer %}
    {% if grades.user == request.user %}
        {% if grades.time == last_user_answer.time %}
            <p style="color: red"> You:{{ grades.grade }} - {{ grades.time }}</p>
        {% endif %}
    {% endif %}
    {% if grades.user != request.user %}
        <p> {{ grades.user }}:{{ grades.grade }} - {{ grades.time }}</p>
    {% endif %}
{% endfor %}

<div class="comment" style="margin-top: 5%">
    <h2>discuss with others</h2> <hr/>
</div>
<form>
    {% csrf_token %}
  <div class="form-group">
  <label for="comment">Comment:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div>
    <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">submit</button>
    </div>
  </div>
</form>

</body>
</html>
