@font-face {
    src: url("../Fonts/Yekan/Weblogma_Yekan.ttf");
    font-family: Yekan;
}

@font-face {
    src: url("../Fonts/Segoe/Segoe-UI.ttf") format('truetype');
    src: url("../Fonts/Segoe/Segoe-UI.woff") format('woff');
    font-family: segoe;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  /*padding: 20px;*/
    padding: 1px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}
/*.book-cart{*/
/*  !*min-height: 200px;*!*/
/*    height: 150px!important;*/
/*}*/
.cart-image{
    width: 100% !important;
    height: 150px !important;
    object-fit: cover;
}
.exam-description{
    background-color: #0d5bdd;
    position: absolute;
    top: 10px;
    height: 150px;
}
.books-sidebar{
  position: sticky;
  top: 50px;
}
.search-in-books > label{
  right: 0;
  left: auto;
}
.search-in-books > label.active{
  -webkit-transform: translateY(-14px) translateX(10px) scale(0.8);
  transform: translateY(-14px) translateX(20px) scale(0.8) !important;
}
.search-in-books > label:focus{

}

.md-form input:not([type]):focus:not([readonly]),
.md-form input[type=date]:not(.browser-default):focus:not([readonly]),
.md-form input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
.md-form input[type=datetime]:not(.browser-default):focus:not([readonly]),
.md-form input[type=email]:not(.browser-default):focus:not([readonly]),
.md-form input[type=number]:not(.browser-default):focus:not([readonly]),
.md-form input[type=password]:not(.browser-default):focus:not([readonly]),
.md-form input[type=search-md]:focus:not([readonly]),
.md-form input[type=search]:not(.browser-default):focus:not([readonly]),
.md-form input[type=tel]:not(.browser-default):focus:not([readonly]),
.md-form input[type=text]:not(.browser-default):focus:not([readonly]),
.md-form input[type=time]:not(.browser-default):focus:not([readonly]),
.md-form input[type=url]:not(.browser-default):focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]){
  /*color: red !important;*/
  border-bottom: 1px solid red !important;
  -webkit-box-shadow: 0 1px 0 0 red !important;
  box-shadow: 0 1px 0 0 red !important;
}
#toggle-question-type, #toggle-passage-type, #toggle-cambridge-books{
  transition-duration: 350ms;
}
@-webkit-keyframes rotation180deg {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
    }
}
@-webkit-keyframes reverseRotation180deg {
    from {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
    }
    to {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
}
.rotate-down-sidebar{
    -webkit-transform: rotate(180deg);
    -webkit-animation: rotation180deg 350ms;

    -moz-transform: rotate(180deg);
    -moz-animation: rotation180deg 350ms;

    -o-transform: rotate(180deg);
    -o-animation: rotation180deg 350ms;

    -ms-transform: rotate(180deg);
}.reverse-rotate-down-sidebar{
    -webkit-transform: rotate(0deg);
    -webkit-animation: reverseRotation180deg 350ms;

    -moz-transform: rotate(0deg);
    -moz-animation: reverseRotation180deg 350ms;

    -o-transform: rotate(0deg);
    -o-animation: reverseRotation180deg 350ms;

    -ms-transform: rotate(0deg);
}

/*.take-test {*/
/*    background: rgb(187,187,187);*/
/*    background: linear-gradient(90deg, rgba(187,187,187,1) 0%, rgba(237,103,103,1) 50%, rgba(187,187,187,1) 100%);*/
/*}*/
.book-cart:hover > .exam-image{
    filter: blur(4px);
    -webkit-filter: blur(4px);
    /*box-shadow:inset 0 0 0 2000px rgba(255, 0, 150, 0.3);*/
}
/*.mask{*/
/*    background-color: rgb(0, 0, 0);*/
/*    z-index: 2;*/
/*}*/

/* Loader Spinner */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #9e9e9e;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.book-carousel {
    position: relative;
}
.owl-nav > .owl-prev {
    position: absolute;
    top: 27%;
    right: -8px;
    background-color: rgba(189,189,189, 0.7) !important;
    width: 40px;
    height: 40px;
    padding-top: 20px!important;
    z-index: 1000;
}
.owl-nav > .owl-prev > .span-prev {
    position: absolute;
    top: 8px;
    left: 13px;
    font-size: 24px;
}
.owl-nav > .owl-next {
    position: absolute;
    top: 27%;
    left: -8px;
    background-color: rgba(189,189,189, 0.7) !important;
    width: 40px;
    height: 40px;
    padding-top: 20px!important;
}
.owl-nav > .owl-next > .span-next {
    position: absolute;
    top: 8px;
    right: 13px;
    font-size: 24px;
}
/*.owl-nav > .owl-next > .span-next {*/
/*    font-size: 50px;*/
/*}*/