@font-face {
    src: url("../Fonts/Yekan/Weblogma_Yekan.ttf");
    font-family: Yekan;
}

@font-face {
    src: url("../Fonts/Segoe/Segoe-UI.ttf") format('truetype');
    src: url("../Fonts/Segoe/Segoe-UI.woff") format('woff');
    font-family: segoe;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  /*padding: 20px;*/
    padding: 1px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}
.book-box{
  width: 100%;
  height: fit-content;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px 5px;

}
.book-cart{
  background-color: black;
  width: 240px;
  /*min-height: 200px;*/
  height: fit-content;
  margin: 0 10px;
}
.books-sidebar{
  position: sticky;
  top: 50px;
}
.search-in-books > label{
  right: 0;
  left: auto;
}
.search-in-books > label.active{
  -webkit-transform: translateY(-14px) translateX(10px) scale(0.8);
  transform: translateY(-14px) translateX(20px) scale(0.8) !important;
}
.search-in-books > label:focus{

}

.md-form input:not([type]):focus:not([readonly]),
.md-form input[type=date]:not(.browser-default):focus:not([readonly]),
.md-form input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
.md-form input[type=datetime]:not(.browser-default):focus:not([readonly]),
.md-form input[type=email]:not(.browser-default):focus:not([readonly]),
.md-form input[type=number]:not(.browser-default):focus:not([readonly]),
.md-form input[type=password]:not(.browser-default):focus:not([readonly]),
.md-form input[type=search-md]:focus:not([readonly]),
.md-form input[type=search]:not(.browser-default):focus:not([readonly]),
.md-form input[type=tel]:not(.browser-default):focus:not([readonly]),
.md-form input[type=text]:not(.browser-default):focus:not([readonly]),
.md-form input[type=time]:not(.browser-default):focus:not([readonly]),
.md-form input[type=url]:not(.browser-default):focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]){
  /*color: red !important;*/
  border-bottom: 1px solid red !important;
  -webkit-box-shadow: 0 1px 0 0 red !important;
  box-shadow: 0 1px 0 0 red !important;
}
#toggle-question-type, #toggle-passage-type, #toggle-cambridge-books{
  transition-duration: 350ms;
}
@-webkit-keyframes rotation180deg {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
    }
}
@-webkit-keyframes reverseRotation180deg {
    from {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
    }
    to {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
}
.rotate-down-sidebar{
    -webkit-transform: rotate(180deg);
    -webkit-animation: rotation180deg 350ms;

    -moz-transform: rotate(180deg);
    -moz-animation: rotation180deg 350ms;

    -o-transform: rotate(180deg);
    -o-animation: rotation180deg 350ms;

    -ms-transform: rotate(180deg);
}.reverse-rotate-down-sidebar{
    -webkit-transform: rotate(0deg);
    -webkit-animation: reverseRotation180deg 350ms;

    -moz-transform: rotate(0deg);
    -moz-animation: reverseRotation180deg 350ms;

    -o-transform: rotate(0deg);
    -o-animation: reverseRotation180deg 350ms;

    -ms-transform: rotate(0deg);
}