#comment {
    height: fit-content;
    width: 60%;
}
#avatar, #replied-avatar {
    width: 60px;
    height: 60px;
    margin: 15px;
    border-radius: 50%;
}
#commenter, #replied-commenter {
    padding-top: 10px;
}

#comment-body, #replied-comment-body {
    padding-bottom: 10px;
}

#comment-footer, #replied-comment-footer {
    width: 100%;
}

#reply, #replied-reply {
    margin-top: 10px;
    width: 50%;
    display: block;
}

#reply-link {
    color: black;
}

#reply-footer button, #replied-reply-footer button {
    width: 75px !important;
}

#reply-body, #replied-reply-body{
    width: 100%;
}
#reply-body textarea, #replied-reply-body textarea {
    padding: 3px 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    height: 150px;
    resize: none;
}

#to-reply small a:hover, #replied-to-reply small a:hover  {
    color: black !important;
    text-decoration: none;
}

#like small a:hover, #replied-like small a:hover {
    color: black !important;
    text-decoration: none;
}