@font-face {
    font-family: 'Yekan';
    src: url('../Fonts/Yekan/Weblogma_Yekan.eot');
    src: url('../Fonts/Yekan/Weblogma_Yekan.eot#iefix') format('embedded-opentype'),
        url('../Fonts/Yekan/Weblogma_Yekan.woff') format('woff'),
        url('../Fonts/Yekan/Weblogma_Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    src: url("../Fonts/Vazir/Vazir.ttf");
    font-family: Vazir;
}
#login-container{
    margin-top: -20px;
    background: rgb(187,187,187);
    background: linear-gradient(90deg, rgba(187,187,187,1) 0%, rgba(233,233,233,1) 50%, rgba(187,187,187,1) 100%);
}
@media (max-width: 768px) {

}

@media (min-width: 768px) {
    .login-box {
        border-radius: 20px;
        font-family: Yekan, Calibri, monospace;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 0 60px;
        border: 2px solid transparent;
        height: 420px;
        width: 500px;
        /*box-shadow: 2px 2px 8px 2px gray;*/
    }
    .login-form > label {
        right: 0 !important;
        left: auto;
    }
    /*.md-form input[type=password]:not(.browser-default):focus:not([readonly]){*/

    /*}*/
    /*.md-form input[type=text]:not(.browser-default):focus:not([readonly]){*/
    /*    border-bottom: 1px solid rgb(89, 105, 141) !important;*/
    /*    box-shadow: 0 1px 0 0 rgb(89, 105, 141) !important;*/
    /*}*/
}
/* Change the white to any color ;) */

    .md-form input:not([type]):focus:not([readonly])+label,
    .md-form input[type=email]:not(.browser-default):focus:not([readonly])+label,
    .md-form input[type=number]:not(.browser-default):focus:not([readonly])+label,
    .md-form input[type=password]:not(.browser-default):focus:not([readonly])+label,
    .md-form input[type=tel]:not(.browser-default):focus:not([readonly])+label,
    .md-form input[type=text]:not(.browser-default):focus:not([readonly])+label,
    .md-form textarea.md-textarea:focus:not([readonly])+label {
        color: gray;
    }
    .md-form input:not([type]):focus:not([readonly]),
    .md-form input[type=email]:not(.browser-default):focus:not([readonly]),
    .md-form input[type=number]:not(.browser-default):focus:not([readonly]),
    .md-form input[type=password]:not(.browser-default):focus:not([readonly]),
    .md-form input[type=search]:not(.browser-default):focus:not([readonly]),
    .md-form input[type=text]:not(.browser-default):focus:not([readonly]),
    .md-form textarea.md-textarea:focus:not([readonly]){
        border-bottom: 1px solid lightgray;
        box-shadow: 0 1px 0 0 lightgray;
    }
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #F5F5F5 inset !important;
}