<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Language Exam</title>
</head>
<body>
{#<button type="button">Listening</button>#}
{#<hr>#}
<form action="Reading" method="get">
<button type="submit" name="Exam">Exams</button>
<hr>
{#<button type="button">Speaking</button>#}
{#<hr>#}
{#<button type="button">Writing</button>#}
</form>
    {% if user %}
        <p>
            currently user : {{ user }}
        </p>
        <form action="{% url 'Reading:LogOut' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="logout" name="btn">
        </form>

    {% endif %}

    {% if not user %}
        <a class="btn " href="/signup">signup</a> <br>
        <a class="btn " href="/login">login</a>
    {% endif %}
</body>
</html>