<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Language Exam</title>
</head>
<body>
<button type="button">Listening</button>
<hr>
<form action="Reading" method="get">
<button type="submit" name="Reading">Reading</button>
<hr>
<button type="button">Speaking</button>
<hr>
<button type="button">Writing</button>
</form>

<div class="container py-2">
    <br>
    <form  method="get" action="{% url 'Reading:Reading' %}">
      <fieldset id="group1">
        <input text="r1" type="radio" value="value1" name="group1"> رادیو اول
        <input type="radio" value="value2" name="group1"> رادیو دوم
      </fieldset>

      <fieldset id="group2">
        <input type="radio" value="value1" name="group2"> First radio
        <input type="radio" value="value2" name="group2"> Second radio
        <input type="radio" value="value3" name="group2"> Third radio
      </fieldset>
        <input type="submit" value="Submit">
    </form>
</div>

</body>
</html>