<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'Css/bootstrap.min.css' %}">

</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label>
            username:
            <input type="text" name="username">
        </label>
        <label>
            password:
            <input type="password" name="password">
        </label>
        <input class="btn btn-primary" type="submit" name="btn" value="submit">
    </form>
    {% if alert %}
        <p>
            {{ alert }}
            pls try again
        </p>
    {% endif %}
    <a class="btn btn-primary" href="/signup" role="button">signup</a>
</body>
</html>