<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'Css/bootstrap.min.css' %}">
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label>
            first name:
            <input type="text" name="first_name">
        </label><br>
        <label>
            last name:
            <input type="text" name="last_name">
        </label><br>
        <label>
            email:
            <input type="email" name="email">
        </label><br>
        <label>
            username:
            <input type="text" name="username">
        </label><br>
        <label>
            phone number:
            <input type="tel" name="phone_number" maxlength="11" minlength="11">
        </label><br>
        <label>
            password:
            <input type="password" name="password">
        </label><br>
        <label>
            password again:
            <input type="password" name="re_password">
        </label><br>
        <label>
            address:
            <textarea name="address"></textarea>
        </label><br>

        <input class="btn btn-primary" type="submit" name="btn" value="submit">
    </form>
    {% if alert %}
        <p>
            {{ alert }}
            pls try again
        </p>
    {% endif %}

</body>
</html>